

<div class="people_card_block people_card_block_gender_m">


<div class="people_card_block_l ">
<img src="/media/{{people.image}}" alt="Фотография {{people.name}} {{people.otchestvo}} {{people.familiya}}">
</div>
<div class="people_card_block_r">
	<div class="people_card_block_line">
		<div class="people_card_block_line_lable">Имя: </div>
		<div class="people_card_block_line_val">{{people.name}}</div>
	</div>
	<div class="people_card_block_line">
		<div class="people_card_block_line_lable">Отчество: </div>
		<div class="people_card_block_line_val">{{people.otchestvo}}</div>
	</div>
	<div class="people_card_block_line">
		<div class="people_card_block_line_lable">Фамилия: </div>
		<div class="people_card_block_line_val">{{people.familiya}}</div>
	</div>
	<div class="people_card_block_line">
		<div class="people_card_block_line_lable">Дата рождения: </div>
		<div class="people_card_block_line_val">{{people.date1}}</div>
	</div>
	<div class="people_card_block_line">
		<div class="people_card_block_line_lable">Дата смерти: </div>
		<div class="people_card_block_line_val">{{people.date2}}</div>
	</div>
	<div class="people_card_block_line">
		<div class="people_card_block_line_lable">Пол: </div>
		<div class="people_card_block_line_val">{{people.get_gender_display}}</div>
	</div>
</div>

</div>


